// Points de rupture écrans
// small screen
$s-screen: 576px;
// medium screen
$m-screen: 768px;
// large screen
$l-screen: 992px;
// extra large screen
$xl-screen: 1200px;

// couleurs principales
$primary: rgb(94, 42, 216);
$secondary: rgb(80, 187, 8);
$warning: rgb(219, 103, 25);
$danger: rgb(250, 9, 9);
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);

// fonts sizes
$base-fontsize: 16px;
$h3-fontsize: 1.1rem;
$h2-fontsize: 1.2rem;
$h1-fontsize: 1.3rem;

//layout
$margin-body: 0;
$container-width: 1150px;

//plugins
$visible:false;
$accordeon:true;
$compteur:true;
$nav: true;
$slider:true;
$lightbox:true;
$form:true;

