@font-face {
  font-family: 'icomoon';
  src: url("../icomoon/fonts/icomoon.eot?llivd5");
  src: url("../icomoon/fonts/icomoon.eot?llivd5#iefix") format("embedded-opentype"), url("../icomoon/fonts/icomoon.ttf?llivd5") format("truetype"), url("../icomoon/fonts/icomoon.woff?llivd5") format("woff"), url("../icomoon/fonts/icomoon.svg?llivd5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelope-o:before {
  content: "\f003"; }

.icon-user:before {
  content: "\f007"; }

.icon-check:before {
  content: "\f00c"; }

.icon-close:before {
  content: "\f00d"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-times:before {
  content: "\f00d"; }

.icon-cog:before {
  content: "\f013"; }

.icon-gear:before {
  content: "\f013"; }

.icon-bars:before {
  content: "\f0c9"; }

.icon-navicon:before {
  content: "\f0c9"; }

.icon-reorder:before {
  content: "\f0c9"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-mobile:before {
  content: "\f10b"; }

.icon-mobile-phone:before {
  content: "\f10b"; }

.icon-circle-o:before {
  content: "\f10c"; }

.icon-circle:before {
  content: "\f111"; }

.icon-pencil-square:before {
  content: "\f14b"; }

.icon-bitbucket:before {
  content: "\f171"; }

html,
body {
  margin: 0; }

.container {
  max-width: 1150px;
  margin: auto; }

* {
  box-sizing: border-box; }

[accordeon] {
  border-bottom: 1px solid #4d4d4d; }
  [accordeon] p,
  [accordeon] h1 {
    color: #4d4d4d;
    border: 1px solid #4d4d4d;
    padding: 1rem;
    margin: 0;
    border-bottom: 0; }
  [accordeon] h1 {
    font-size: 1.3rem; }
    [accordeon] h1:hover {
      cursor: pointer; }
  [accordeon] span {
    float: right; }
  [accordeon] p {
    display: none; }
    [accordeon] p:first-of-type {
      display: block; }
  [accordeon] .active {
    background: #d9d9d9; }

[compteur] {
  position: relative; }
  [compteur] textarea {
    border: none;
    border-bottom: 1px solid #4d4d4d;
    width: 100%;
    margin-top: 2rem;
    outline: 0; }
    [compteur] textarea:focus {
      transition: all .5s;
      border-bottom: 1px solid #50bb08; }
  [compteur] label {
    color: #4d4d4d;
    position: absolute;
    bottom: 35px;
    left: 0; }
  [compteur] textarea:focus + label {
    transition: all .5s;
    color: #50bb08;
    bottom: 75px;
    font-size: .85rem; }

nav {
  min-height: 58px;
  position: relative;
  background: #333333;
  display: flex;
  flex-direction: column; }
  nav ul {
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column; }
    nav ul li {
      list-style: none; }
    nav ul a {
      display: block;
      padding: .5rem 15px;
      color: white;
      text-decoration: none; }
      nav ul a:hover {
        transition: all .5s;
        color: #50bb08; }
  nav span {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 15px; }
  nav h1 {
    color: white;
    padding-left: 15px; }

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    min-height: auto; }
    nav ul {
      display: flex;
      flex-direction: row; }
      nav ul a {
        padding: 1rem .5rem; }
    nav span {
      display: none; } }

[data-slider] {
  position: relative;
  margin: auto;
  overflow: hidden; }
  [data-slider] ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 9999px;
    position: relative; }
  [data-slider] li {
    list-style: none; }

span {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  transform: translateY(-50%); }
  span:hover {
    transition: all .5s;
    font-size: 34px;
    cursor: pointer; }

.icon-angle-right {
  right: 0; }

img {
  width: 100%; }

.progress {
  position: absolute;
  bottom: 4px;
  background: orange;
  height: 3px;
  width: 0%; }

[data-galery] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  [data-galery] figure {
    margin: 0;
    width: 50%;
    overflow: hidden; }
  [data-galery] img {
    width: 100%;
    vertical-align: middle;
    transition: all .5s; }
    [data-galery] img:hover {
      cursor: pointer;
      transform: scale(1.2); }

[data-lightbox] {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0; }
  [data-lightbox] div {
    border-radius: 15px;
    border: 5px solid white;
    position: relative;
    width: 85%; }
  [data-lightbox] span {
    position: absolute;
    font-size: 1.8rem;
    border-radius: 100%;
    padding: .3rem;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer; }
  [data-lightbox] .icon-angle-left {
    top: 50%;
    transform: translateY(-50%);
    left: 1%; }
  [data-lightbox] .icon-angle-right {
    top: 50%;
    transform: translateY(-50%);
    right: 1%; }
  [data-lightbox] .icon-close {
    top: 0%;
    transform: translate(50%, -50%);
    right: 0%; }
  [data-lightbox] img {
    vertical-align: middle;
    border-radius: 9px;
    width: 100%; }
  [data-lightbox] ul {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  [data-lightbox] li {
    list-style: none; }
  [data-lightbox] i {
    display: inline-block;
    margin: 5px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer; }

@media (min-width: 768px) {
  [data-galery] figure {
    width: 25%; }
  [data-lightbox] div {
    width: 80%; } }

@media (min-width: 992px) {
  [data-lightbox] div {
    width: 70%; } }

@media (min-width: 1200px) {
  [data-lightbox] div {
    width: 60%; } }

[data-form] {
  display: flex;
  flex-direction: column; }
  [data-form] .form-group {
    position: relative; }
    [data-form] .form-group textarea,
    [data-form] .form-group input[type="text"] {
      border: none;
      border-bottom: 1px solid #4d4d4d;
      width: 100%;
      margin-top: 2rem;
      outline: 0;
      padding: 40px 16px 0 16px;
      vertical-align: bottom;
      font-size: 16px;
      letter-spacing: 0;
      font-family: Arial, Helvetica, sans-serif; }
      [data-form] .form-group textarea:focus,
      [data-form] .form-group input[type="text"]:focus {
        transition: all .5s;
        border-bottom: 1px solid #50bb08; }
    [data-form] .form-group input[type="text"] {
      padding-bottom: 19px; }
    [data-form] .form-group label {
      color: #4d4d4d;
      position: absolute;
      bottom: 8px;
      left: 0;
      transition: all .5s; }
    [data-form] .form-group textarea:focus + label,
    [data-form] .form-group [type="text"]:focus + label,
    [data-form] .form-group .valid {
      color: #50bb08;
      bottom: 46px;
      font-size: .85rem; }
    [data-form] .form-group .invalid {
      color: #fa0909; }
    [data-form] .form-group [type="submit"] {
      width: 100%;
      padding: 1rem;
      font-size: 16px;
      background: #d9d9d9;
      margin-top: 16px;
      transition: all .5s;
      border: none;
      outline: 0; }
      [data-form] .form-group [type="submit"]:hover {
        background: #50bb08;
        color: white;
        cursor: pointer; }
